.container
  .row
    .col-sm-10.col-sm-offset-1
      .jumbotron
        %h1 Welcome to BookingApp
        %p Looking for a place to stay? You came to the right place!
        %p
          %a.btn.btn-primary.btn-lg{ role: "button" } Learn more

      %h2.text-center
        %span.label.label-info Check out our featured places
      .col-sm-6
        %h3.text-center
          %span.label.label-warning Most recent
      .col-sm-6
        %h3.text-center
          %span.label.label-warning The hottest
